@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body{
  font-family: "Balsamiq Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: aliceblue;
  padding: 30px;
  min-height: 100vh;
  color: #18043f;
  background-image: url('./img/bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.app{
  max-width: 600px;
  margin: 0 auto 300px;
  background-color: rgba(254, 242, 182, 0.655);
  padding: 20px 30px;
  border-radius: 28px;
}

h1{
  text-align: center;
}
h2{
  margin-bottom: 10px;
}

p{
  margin: 10px 0;
}

input{
  box-sizing: border-box;
}

button{
  background-color: #97640e;
  color: aliceblue;
  padding: 5px 10px;
  border: none;
  border-radius: 8px;
  cursor:pointer;
  opacity: .8;
  transition: .3s;
}

button:hover{
  opacity: 1;
}

.complete{
  background-color: rgb(118, 138, 64);
}
.remove{
  background-color: rgb(178, 61, 29);
}

.todo-form{
  padding-bottom: 1.5rem;
}

input,select{
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #DDD;
  border-radius: 8px;
  width: 100%;
}