@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body{
  font-family: "Balsamiq Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: aliceblue;
  padding: 30px;
  min-height: 100vh;
  color: #18043f;
  background-image: url('./img/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.app{
  max-width: 600px;
  margin: 0 auto 300px;
  background-color: rgb(254, 221, 249);
  padding: 20px 30px;
  border-radius: 28px;
}

h1{
  text-align: center;
}
h2{
  margin-bottom: 10px;
}

p{
  margin: 10px 0;
}

input{
  box-sizing: border-box;
}

button{
  background-color: #a17070;
  color: aliceblue;
  padding: 5px 10px;
  border: none;
}